* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}
/* @media screen and (max-width:"780px"){
  
} */

.benifitCard{
  margin: 10px;
}
p{
  font-size: large;
}

.home-container {
  display: flex;
  justify-content: center;
  margin-top: -80px;
}

@media screen and (max-width: 960px) {
  .home-container {
    display: flex;
    flex-direction: column;
  }
}
.icon{
  height: 50px;
  width: 50px;
  display: block;
}
@media screen and (max-width:550px){
.itenaryTable{
  border: 10px solid red;
}
}
  /* .carousel{
    width:200px;
    height: 70vh;
    border: 10px solid red;
  } */

  .carousel{
    padding-right: 7%;
  }

/* .carouselDiv {
  border: solid 1px #ff0000;
  zoom: 1;  IE6&7 
}

.carouselDiv:before,
.carouselDiv:after {
  content: "";
  display: table;
}

.carouselDiv:after {
  clear: both;
} */